
.container {
    min-width: 100vw;
    min-height: 100dvh;
    display: grid;
    align-items: center;
    justify-content:center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
  /* style for grid square */
  .square {
    display: border-box;

  }

  /* Style for the iframe within each square */
iframe {
    border: none; /* Remove the iframe border */
  }
  

  @media (max-width: 200px) {
    .container {
        min-width: 100vb;  
        min-height: 100vh;
      margin: 5%;
      gap: 0px;
      align-content: center;
      justify-content: center;
    }
}

@media (max-width: 1800px) {
    .container {
      min-width: 100vb;  
      min-height: 100vh;
      margin: 10%;
      align-content: center;
      justify-content: center;
    }
}