
.container {
    min-height: 100%;
    min-width: 100%;
    display: grid;
    align-items: center;
    justify-content:center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
  /* style for grid square */
  .square {
    display: border-box;
  }

  /* Style for the iframe within each square */
iframe {
    border: none; /* Remove the iframe border */
  }
  

  @media (max-width: 1400px) {
    .container {
      max-height: 90vh;  
      max-width: 90vb;
      margin: 5%;
      gap: 0px;
      align-content: center;
      justify-content: center;
    }
}

